/.DS_Store
lesson_8/__pycache__
lesson_4/__pycache__
lesson_4/__pycache__
.gitignore
lesson_6/__pycache__
.gitignore
lesson_7/task_1/__pycache__
lesson_7/task_1/__pycache__
lesson_9/__pycache__
lesson_7/task_2/__pycache__
lesson_7/task_3/__pycache__